.App {
  text-align: center;
}
:root{
  --navbar-link: whitesmoke;
}
/*----------------------------navbar formatting ---------------------------*/
.navbar-container, .navbar-links li, .page-landing{
  display:flex;
  align-items: flex-start;
  justify-content: center;
}
.navbar-name{
  width: 30%;
}
.navbar-name h2{
  color: var(--navbar-link);
  font-size: 25px;
  padding: 0;
}
.navbar-container{
  background-image:url('../public/assets/sampada-bckgrnd.png');
  background-size: cover;
  height: 250px;
}
.navbar-links{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  width:65%;
  font-size: 20px;
}
.navbar-links ul{
  padding: 25px;
  margin:0;
  list-style:none;
  display:flex;
  gap: 4rem;
}
.navbar-links a{
  color: var(--navbar-link);
  text-decoration: none;
  cursor:pointer;
}
/*-------------------media landing formatting ---------------*/
.page-landing{
  position:relative;
  flex-direction: row;
  margin: 50px 0px;
  background-image:url("../public/assets/sampada-landing.jpg");
  background-size: cover;
  background-repeat:no-repeat;
  /* filter:grayscale(100%); */
  height: 600px;
}
.landing-information{
  position:absolute;
  bottom: 50px;
  height: 250px;
  width: 60%;
  border-radius: 12px;
  background-color: rgba(179, 179, 179, 0.5);
}
.landing-keywords{
  margin: 7px 0px;
}
/*-------------------social link formatting ---------------*/
.social-link img{
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.social-link{
  gap: 3rem;
  padding: 5px;
  margin-top: 5px;
}
.socials-container{
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 100%;
  gap: 4rem;
} 
/*-------------------about landing formatting ---------------*/
.about-container{
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin:40px 0px;
}
.about-left{
  width:50%;
  margin: 5px;
  height: 350px;
}
.about-information{
  height: 350px;
  text-align:justify;
}
.about-photo img{
  width: 100%;
}
.about-heading h2, .project-title h2{
  margin:0;
}
.about-subheading h4, .project-subtitle h4{
  font-weight: 400;
  margin: 0;
  font-style:italic;
}
.about-heading h2, .about-subheading h4{
  text-align:center;
}

.project-title h2, .project-subtitle h4{
  text-align:left;
}

/*------------------- timeline formatting -------------------*/
.timeline-container{
  display:flex;
  align-items:center;
  justify-content:center;
  flex-direction:row;
  height:auto;
  /* margin-top: 50px; */
}
.timeline-information{
  padding: 8px;
  text-align:justify;

}
.timeline-image{
  width: 50%;
}
.timeline-image img{
  height: 200px;
  width: 100%;
}

/* -------------------formatting for header- with underline and circle display-------------------*/

.header-wrapper {
  text-align: center;
  position: relative;
  left: 15%;
  margin: 0;
}

.header-text {
  margin: 0;
  font-size: 2rem;
  position: relative;
}

.underline {
  width: 20%;
  height: 2px;
  background-color: #333;
  position: relative;
  margin: 0 auto;
  margin-top: 10px;
}

.circle {
  width: 12px;
  height: 12px;
  background-color: #333;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* ------------------- project card formatting-------------------*/
.project-container{
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin: 30px 0px;
  width: 100%;
  padding: 8px;
  height: 240px;
}
.project-content{
  text-align: justify;
  width: 70%;
  padding: 8px;
  margin: 0px 25px;
  height:100%;
}
/* special formatting for the in progress publications*/
#publication-container .project-content{
  width: 90%;
  padding: 18px;
  height: 120px;
}
#publication-container {
  margin: 30px 0px;
  height: 150px;
}
/* project description div*/
.project-info{
  margin-top: 50px;
}
/* project title div*/
.project-title{
  margin: 30px 0px 10px 0px;
}
.project-image{
  display:flex;
  align-items:center;
  justify-content:center;
  width: 20%;
  height: 200px;
  margin: 0px 15px;
}
.project-image img{
  width: 100%;
  height: 100%;
}
/* to change positioning of header h2 element*/
.current-projects .header-wrapper{
  left: 0px;
  margin: 50px 0px 30px 0px;
}

.project-link a, .show-search {
  display: inline-flex;
  align-items: center;
  gap: 4px;
  text-decoration: none;
  cursor:pointer;
}


/* ------------------- search option formatting-------------------*/
.search-option{
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  position:relative;
  left: 13%;
  margin-top: 20px;
  width: 80%;
  height: 40px;
}
.search-input{
  width: 40%;
}

.search-option input{
  height: 20px;
  width: 100%;
  text-align: center;
}
.search-option button{
  height: 28px;
  margin-left: 20px;
}

.search-x{
  position: relative;
  right: 2%;
  height: 25px;
  cursor:pointer;
  background-color: transparent;
}




/* ------------------- error message formatting-------------------*/
.error-container{
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  left: 20%;
  height: 90px;
  z-index: 100;
  border-radius: 12px;
  box-shadow: 3px 2px 3px;
  border: 1px solid black;
  margin-top: 50px;
  width: 60%;
  padding: 10px;
}
.error-header{
  margin-top: 20px;
}
.error-header h2{
  margin:0;
}
.error-button{
  position:relative;
  left: 40%;
  bottom: 80px;
  cursor:pointer;
}

.show-search{
  margin-top: 15px;
  position:relative;
  right: 40%;
}