.App {
  text-align: center;
}
:root{
  --navbar-link: whitesmoke;
  --navbar-dropdown-container: rgb(69,69,69);
}
/*----------------------------navbar formatting ---------------------------*/
.navbar-container{
  background-image:url('../public/assets/sampada-bckgrnd.png');
  background-size: cover;
  height: 250px;
  display:flex;
  flex-wrap:wrap;
  align-items: flex-start;
  justify-content: space-between;
}
.navbar-container, .navbar-links li, .page-landing{
  display:flex;
  align-items: flex-start;
  justify-content:space-between;
}
/* formatting for Sampada's Name in Navbar*/
.navbar-name{
  flex: 1 1 100px;
  min-width: 100px;
  height: 80px;
}
.navbar-name h2{
  color: var(--navbar-link);
  font-size: 22px;
  padding: 3px;
}
/* get rid of link underline for sampada's name*/
.navbar-name a{
  text-decoration:none;
}

/* container that holds the ul of navlinks*/
.navbar-links{
  flex: 2 1 400px;
  min-width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  font-size: 18px;
}
.navbar-links ul{
  padding: 25px;
  margin:0;
  list-style:none;
  display:flex;
  gap: 1rem;
  width: 100%;
}
.navbar-links li {
  flex: 1;
  display: flex;
  justify-content: center;
  text-align: center;
}

.navbar-links a{
  color: var(--navbar-link);
  text-decoration: none;
  cursor:pointer;
}

.dropdown{
  position:relative;
  display:none;
  width:inherit;
}

.dropdown-menu{
  position:absolute;
  display:none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: var(--navbar-dropdown-container);
  top: 32px;
  left: 0px;
  height: 45px;
}
.dropdown-menu li{
  display:flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 3px;
  height: 24px;
}





/* ------------------------- SAMPADA HOME PAGE ------------------------------------*/
.page-landing{
  background-image: url("/public/assets/leadership/grace-hopper-sampada.jpg");
  background-size:cover;
  background-repeat: no-repeat;
  background-position: center center;
  position:relative;
  height: 670px;
  width: 100%;
  margin-bottom: 50px;
}
.landing-information{
  background-color: rgba(245, 245, 245, 0.6);
  padding: 5px 10px;
  width: 95%;
  position:absolute;
  left: 2%;
  top: 65%;
  height:auto;
  border-radius: 20px;
}
.landing-header h1{
  font-size: 16px;
  margin:2px;
}
/*-------------------social link formatting ---------------*/
.social-link img{
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.social-link{
  gap: 3rem;
  padding: 5px;
  margin-top: 5px;
}
.socials-container{
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 100%;
  gap: 4rem;
} 
/*-------------------about landing formatting ---------------*/
.about-container{
  display:flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  margin:40px 0px;
  height: 700px;
}
.about-left{
  width:40%;
  margin-top: 25px;
}
.about-information{
  height: 550px;
  width: 50%;
  text-align:justify;
}
.about-photo img{
  width: 100%;
}
.about-heading h2, .project-title h2, .highlight-title h2{
  margin:0;
}
.highlight-title h2{
  font-size: 36px;
}
#highlight-links{
  justify-content: space-evenly;
}

.about-subheading h4, .project-subtitle h4 , .cert-subtitle h4{
  font-weight: 400;
  margin: 0;
  font-style:italic;
}
.about-heading h2, .about-subheading h4{
  text-align:center;
}

.project-title h2, .project-subtitle h4{
  text-align:left;
}

/*------------------- timeline formatting -------------------*/
.timeline-container{
  display:flex;
  align-items:center;
  justify-content:center;
  flex-direction:row;
  height:auto;
  width: 100%;
  padding: 6px;
  /* margin-top: 50px; */
}
.timeline-information{
  padding: 8px;
  text-align:justify;
  width: 60%;
  margin: 10px;
}
.timeline-image{
  width: 35%;
  margin: 10px;
}
.timeline-image img{
  height: 100%;
  width: 100%;
}

/* -------------------formatting for header- with underline and circle display-------------------*/

.header-wrapper {
  text-align: center;
  position: relative;
  left: 15%;
  margin: 0;
}

.header-text {
  margin: 0;
  font-size: 2rem;
  position: relative;
}

.underline {
  width: 20%;
  height: 2px;
  background-color: #333;
  position: relative;
  margin: 0 auto;
  margin-top: 10px;
}

.circle {
  width: 12px;
  height: 12px;
  background-color: #333;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* ------------------- project card formatting-------------------*/
.project-container, .cert-container{
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin: 30px 0px;
  width: 96%;
  padding: 12px 5px;
  height: auto;
}
.cert-container{
  margin: 10px 0px;
  padding: 8px;
}
.project-content, .cert-content{
  text-align: justify;
  width: 65%;
  padding: 8px;
  margin: 0px 25px;
  height:100%;
}
.cert-content{
  width: 100%;
  padding: 10px;
  text-align: left;
}
#cert-sub{
  margin-left: 12px;
}

/* special formatting for the in progress publications*/
#publication-container .project-content{
  width: 90%;
  padding: 18px;
  height: auto;
}
#publication-container {
  margin: 30px 0px;
}
/* project description div*/
.project-info{
  margin-top: 50px;
}
/* project title div*/
.project-title{
  margin: 30px 0px 10px 0px;
}
.cert-title{
  margin: 10px;
}
.cert-title h2, #cert-sub h4{
  margin:0;
}
.project-image{
  display:flex;
  align-items:center;
  justify-content:center;
  width: 30%;
  height: 250px;
  margin: 0px 15px;
}
.project-image img{
  width: 100%;
  height: 100%;
}
/* to change positioning of header h2 element*/
.current-projects .header-wrapper{
  left: 0px;
  margin: 50px 0px 30px 0px;
}

.project-link a, .show-search, .cert-link a {
  display: inline-flex;
  align-items: center;
  gap: 4px;
  text-decoration: none;
  cursor:pointer;
  color:blue;
}

.project-link, .cert-link{
  display:flex;
  align-items:center;
  justify-content: flex-start;
  flex-direction: row;
  width: 100%;
  margin: 20px;
}

.project-link-div{
  margin-right: 40px;
}

.project-link a{
  color: blue;
}
.project-link a:hover{
  text-decoration: underline;
  text-underline-offset: 2px;
}

/* ------------------- search option formatting-------------------*/
.search-option{
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  position:relative;
  left: 13%;
  margin-top: 20px;
  width: 80%;
  height: 40px;
}
.search-input{
  width: 40%;
}

.search-option input{
  height: 20px;
  width: 100%;
  text-align: center;
}
.search-option button{
  height: 28px;
  margin-left: 20px;
}

.search-x{
  position: relative;
  right: 2%;
  height: 25px;
  cursor:pointer;
  background-color: transparent;
}




/* ------------------- error message formatting-------------------*/
.error-container{
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  left: 20%;
  height: 90px;
  z-index: 100;
  border-radius: 12px;
  box-shadow: 3px 2px 3px;
  border: 1px solid black;
  margin-top: 50px;
  width: 60%;
  padding: 10px;
}
.error-header{
  margin-top: 20px;
}
.error-header h2{
  margin:0;
}
.error-button{
  position:relative;
  left: 40%;
  bottom: 80px;
  cursor:pointer;
}

.show-search{
  margin-top: 15px;
  position:relative;
  right: 40%;
}

/*-------------------triple award landing layout ---------------*/
.landing-content{
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction:row;
  position:absolute;
  left: 40px;
  bottom: 50px;
  min-height: 140px;
  height:auto;
  width: 95%;
  border-radius: 12px;
  background-color: rgba(179, 179, 179, 0.5);
}

.mini-award-container{
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex: 1;
  width: 30%;
  margin: 15px;
}
.mini-award-header h2, .mini-award-subtitle h5{
  margin:0;
}
.mini-award-subtitle h5{
  font-style:italic;
}



/* ------------------- AWARD formatting-------------------*/
#awards, .highlighted-award, #thesis{
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}
#thesis .header-wrapper {
  left: 0px;
  margin:15px;
  padding: 10px;
  width: 90%;
}

.certifications-container .header-wrapper{
  left: 0px;
  margin:15px;
  padding: 10px;
  width: 90%;

}
#highlight-header {
  width:100%;
}

/*holds the awards img, and main award info and subawards*/
.highlighted-award{
  flex-direction: row;
  align-items: center;
  width: 100%;
  margin-top: 3px;
  
}
.highlight-subtitle h4{
  margin: 0;
  font-style: italic;
}
.highlight-desc{
  text-align: left;
  padding: 3px;

}
.highlight-desc p{
  margin: 15px;
}
/* formatting for the highlighted award content- info about contest and subwards*/
.highlight-content{
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 3px;
  padding:5px;
  width:52%;
  height:auto;
}
/*formatting for the highlighted award img*/
.highlight-img{
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 40%;
  height: auto;
  margin: 10px;
  padding: 6px;
}

.highlight-img img{
  width: 100%;
  height:100%;
  border-radius: 8px;
}

/* ------------------- highlight award- sub awards formatting-------------------*/
.highlight-section{
  display:flex;
  align-items:flex-start;
  justify-content:center;
  flex-direction: row;
}
.highlight-mini{
  width: 30%;
  padding: 3px;
  margin: 10px;
}
.highlight-content .header-wrapper{
  left: 0px;
  margin:10px;
  padding: 3px;
}
.highlight-content .header-wrapper .underline{
  width: 25%;
}

.mini-desc p{
  font-size: 12px;
  text-align: left;
}
.mini-title h3{
  text-align: left;
  font-size: 16px;
}


/* awards header formatting*/
#merit-awards, #mobile-awards, #leadership-header, #conferences, #mentorship, #media, #articles{
  width: 95%;
  left: 0px;
  padding: 12px;
  margin: 30px 0px 10px 0px;
}
#media{
  margin: 30px 0px;
}
.award-container{
  width: 100%;
  display:flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}
/* formatting for simple awards */
#simple-awards{
  display:flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  margin: 6px;
  padding: 4px;
  width: 90%;
}
#simple-awards .project-title h2, #simple-awards .project-subtitle h4{
  margin:5px;
}
#simple-awards .project-content{
  width: 100%;
  padding: 7px;
}
#simple-awards .project-info{
  margin-top: 15px;
}

#simple-awards .project-text p{
  padding: 6px;
  margin:0;
}

/* ------------------blog editing----------------------------*/
.blog-container{
  width: 100%;
}
.community-div{
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.blog{
  display:flex;
  justify-content:center;
  align-items:center;
  flex-direction: column;
  padding: 40px;
  border-bottom: 1px solid black;
  margin-top: 100px;
}

.blog-heading {
  display:flex;
  justify-content:center;
  align-items:center;
  flex-direction: column;
  padding-bottom: 20px;

}

.blog-heading span {
  color: #f33c3c;
  margin-bottom: 10px;
}

.blog-heading h3 {
  font-size: 2.4em;
  color: #2b2b2b;
  font: 16px Arial, Helvetica, sans-serif bold;

}

.blog-container {
  display:flex;
  justify-content: center;
  align-items: flex;
  margin: 40px 0;
  padding: 20px;
  flex-wrap:wrap;
}

.blog-box {
  width: 330px;
  border-radius:12px;
  background-color:#fff;
  border: 1px solid #ececec;
  margin: 20px;
  margin-bottom: 50px;
  height: auto;
  min-height: 420px;
  max-height: 520px;
}
.blog-box:hover{
  cursor:pointer;
}

.blog-img {
  width: 100%;
  height:auto;
}

.blog-img > img {
  width: 100%;
  min-height: 160px;
  max-height: 200px;
  max-width: 300px;
  object-fit:cover;
  object-position:cover;
}

.blog-text {
  padding: 20px;
  display:flex;
  flex-direction: column;

}

.blog-text span {
  color:f33c3c;
  font-size: 12px;
}

.line{
  background-color: #e32636;
  height: 2px;
  width: 50%;
  margin-top:10px;
}

.blog-text .blog-title {
  font-size: 18px;
  font-weight:500;
  color: #272727;
  text-decoration: none;
}

.blog-text .blog-title:hover {
  color: #e32636;
}

.blog-text .blog-title:active {
  color: #67dd33;
}

.blog-text p {
  color:#969696;
  font-size:14px;
  /* display:-webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow:hidden;
  text-overflow:ellipsis; */
  margin: 20px 0px;

}

.blog-text a{
  color:#0f0f0f;
}

.blog-text a:hover {
  color:#e32636;
}

.blog-text a:active {
  color:#67dd33;
}

.see-blog {
  display:flex;
  justify-content: center;
  align-items: center;
}
.see-blog ion-icon{
  color:#e32636;
  margin-left: 7px;
}


.landing-text{
  font-size: 11px;
  padding: 4px;
}
/* ------------------- media embed formatting-------------------*/
.media-container{
  display:flex;
  align-items:flex-start;
  justify-content:flex-start;
  flex-direction:row;
  width: 94%;
  height:auto;
  position:relative;
  left: 4%;
}
.embed-container{
  width: 50%;
  height: auto 0;
  border-radius: 25px;
  overflow: hidden;
  margin: 15px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  
}


/* ------------------- mobile formatting-------------------*/


@media (max-width: 768px){
  /* holds the name and hamburger menu option*/
  .navbar-container{
    height: 200px;
    display:flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
  }
  .navbar-name{
    min-width: 70%;
    padding: 0px;
  }
  .navbar-name h2{
    font-size: 26px;
    padding: 0px;
  }
  /*formatting for div that holds hamburger button*/
  .nav-button{
    width: 20%;
    position: absolute;
    top: 10px;
    right: 0px;
    z-index: 100;
    height: 50px;
    display:flex;
    align-items: center;
    justify-content: center;
  }
  /* formatting for div containing ul and li elements*/
  .nav-links{
    display:flex;
    align-items:center;
    justify-content:center; 
    width: 100%;
    position: absolute;
    top: 160px;
    left: 0px;
    z-index: 100;
    background-color:whitesmoke;
  }
  .nav-links ul{
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;
    list-style:none;
  }
  .nav-links li{
    cursor:pointer;
    padding: 10px;
    gap: 4rem;
    text-align:center;
    width: 50%;
  }
  /*formatting for li text display*/
  .nav-links li a{
    color: #333;
    text-decoration:none;
  }
  /*formatting for the hamburger menu button itself*/
  .hamburger{
    width: 100%;
    height:inherit;
    background:none;
    border:none;
    color: whitesmoke;
    cursor:pointer;
    font-size: 26px;
  }
  .hamburger:hover{
    transition: 0.6s ease-in;
    background-color: transparent;
  }
  /*formatting for home landing*/
  .about-container, .timeline-container{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction:column;
    padding: 6px;
    margin-bottom: 15px;
  }
  .about-container{
    width: 100%;
    height: auto;
  }
  .about-left, .about-information{
    height: auto;
    width: 90%;
  }
  .about-left img{
    height: 100%;
    width: 100%;
  }
  .about-information{
    padding: 8px;
  }
  /*format for section headers*/
  .header-wrapper {
    text-align: center;
    position: relative;
    left: 0;
    margin: 0;
    padding: 10px 0px;
  }
  /*formatting for timeline section*/
  .timeline-image{
    width: 95%;
    /* height: 300px; */
  }
  .timeline-image img{
    height: 100%;
  }
  .timeline-information{
    padding: 8px;
    text-align:justify;
    width: 90%;
    margin: 10px;
  }
  /*individual projects/publications container formatting*/
  .project-container , .cert-container{
    flex-direction: column;
    margin: 15px 0px;
  }
  .cert-container{
    margin: 5px;
  }
  /*extra spacing for the title/subtitle of the publications and projects */
  .project-title{
    margin: 5px 0px;
  } 
  .cert-title{
    margin: 5px 0px;
  }
  .project-subtitle{
    margin: 10px 0px;
  }
  /* text aligning for the title and subtitle*/
  .project-title h2, .project-subtitle h4, .cert-title h2, .cert-subtitle h4{
    text-align:center;
  }
  /*contains all content for publications and projects- title, authors/subtitle, description, redirect link*/
  .project-content{
    width: 90%;
  }
  .cert-content{
    width: 95%;
  }
  /*contains project or publication description and link*/
  .project-info{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 25px 0px;
    padding: 5px 10px;
  }
  /*container that holds visual from the publication or project*/
  .project-image{
    width: 93%;
    height: 40%;
  }
  .project-image img{
    width:100%;
  }
  /* formatting for the in progress publications*/
  #publication-container{
    height:auto;
    margin: 15px 0px;
    padding: 10px;
    width: 93%;
  }
  /* holds all the formatting for the publication's information section*/
  #publication-container .project-content{
    height:auto;
  }

  /* special text formatting for the in progress title/subtitle- justify*/
  #publication-container .project-title h2, #publication-container.project-subtitle h4{
    text-align:justify;
  }

  .landing-content{
    flex-direction: column;
    height:auto;
    width: 60%;
  }
  .mini-award-container{
    width:100%;
  }

  /* formatting for the highlighted award*/
  .highlighted-award{
    flex-direction: column;
    height:auto;
    margin: 15px 0px;
    width: 95%;
  }
  .highlight-content{
    width: 95%;
    height:auto;
    margin-bottom: 60px;
  }
  .highlight-img{
    width: 93%;
    height: 620px;
  }
  .highlight-img{
    object-fit: none;
  }
  .highlight-mini{
    width: 95%;
    margin: 15px 0px;
  }
  .mini-title h3, .mini-desc p{
    margin:0;
    text-align: center;
  }
  .mini-title h3{
    font-size: 20px;
  }
  .mini-desc p , .highlight-desc p{
    font-size: 17px;
  }
  .highlight-desc p{
    text-align: justify;
  }
  /* #merit-awards{
    margin: 0px 0px 35px 0px;
  } */
  #simple-awards{
    width: 95%;
    padding: 3px;
  }
  #simple-awards .project-text, #simple-awards .project-subtitle h4{
    text-align:center;
  }
  .page-landing{
    height: 700px;
  }
  .landing-header h1{
    font-size: 22px;
  }
  .landing-text, .landing-keywords{
    font-size: 12px;
    padding: 5px;
  }
  .blog-box{
    margin: 10px;
    height: auto;
    min-height: 0;     
    max-height: 550px;
  }
  .line{
    width: 100%;
  }
  .media-container{
    flex-direction:column;
    position:relative;
    left: 5%;
    width: 90%;
  }
  .embed-container{
    width: 80%;
    position:relative;
    left: 8%;
    height: auto;
    overflow: hidden;
    
  }
  .project-link a{
    font-size: 15px;
  }
  /* .project-link-div{
    margin: 15px;
  } */
  .cert-container, .cert-link{
    display:flex;
    align-items: center;
    justify-content: center;
  }
  .cert-link .project-link-div{
    margin:0;
  }
  .cert-link{
    margin:20px 0px;
  }
  #simple-awards{
    height: 260px;
  }
  .award-container{
    margin:5px;
  }
  .highlight-title h2{
    font-size: 32px;
  }
  #awards .header-text{
    font-size: 30px;
  }
  #awards .header-wrapper .underline{
    width: 40%;
  }

}
@media (max-width: 450px){
  /* special text formatting for the in progress title/subtitle- justify*/
  #publication-container .project-title h2{
    text-align:left;
    font-size: 20px;
  }
  .project-subtitle h4, .cert-subtitle h4{
    text-align:left;
    font-size: 14px;
  }
  .highlight-section{
    align-items: center;
    flex-direction: column;
  }
  .highlight-img{
    height: 400px;
  }
  .project-image{
    width: 90%;
    height: 30%;
  }
  .project-link a{
    font-size: 13px;
  }
  #highlight-links{
    flex-direction: row;
    margin: 15px;
  }
  .highlight-mini{
    align-items: center;
    justify-content: center;
  }
  #cert-sub{
    margin-left: 12%;
  }
  #simple-awards{
    margin: 14px 0px;
  }
  
}